body{
   margin: 0;
   padding: 0;
 background-color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: brown;
}

h1{
    margin: 0;
    padding: 0;
    background-color: rgb(211, 54, 62);
    font-family: monospace;
    text-align: center;
    font-size: 80px;
}
  
h2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
}
.filme
{
    text-align: center;
}
.cartazes{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.imagem{
  width: 60%;
  height: 200px;
}
.link{
  background-color: rgb(24, 2, 2);
  color: #a7202048;
  font-size: 43px; 

}