body{
   margin: 0;
   padding: 0;
 background-color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: brown;
}

h1{
    margin: 0;
    padding: 0;
    background-color: azure;
    font-family: monospace;
    text-align: center;
    font-size: 80px;
}
  
h2{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
}
.filme
{
    text-align: center;
}